TestWCF/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CinemaLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSoldPlaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldPlaces" />
  </wsdl:message>
  <wsdl:message name="IService_GetSoldPlaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReserveTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveTickets" />
  </wsdl:message>
  <wsdl:message name="IService_ReserveTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getReserveByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:getReserveByCode" />
  </wsdl:message>
  <wsdl:message name="IService_getReserveByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReserveByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getReserveByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:getReserveByNumber" />
  </wsdl:message>
  <wsdl:message name="IService_getReserveByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReserveByNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoldPlaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSoldPlaces" message="tns:IService_GetSoldPlaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSoldPlacesResponse" message="tns:IService_GetSoldPlaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReserveTickets" message="tns:IService_ReserveTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReserveTicketsResponse" message="tns:IService_ReserveTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReserveByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getReserveByCode" message="tns:IService_getReserveByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getReserveByCodeResponse" message="tns:IService_getReserveByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReserveByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getReserveByNumber" message="tns:IService_getReserveByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getReserveByNumberResponse" message="tns:IService_getReserveByNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldPlaces">
      <soap:operation soapAction="http://tempuri.org/IService/GetSoldPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveTickets">
      <soap:operation soapAction="http://tempuri.org/IService/ReserveTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReserveByCode">
      <soap:operation soapAction="http://tempuri.org/IService/getReserveByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReserveByNumber">
      <soap:operation soapAction="http://tempuri.org/IService/getReserveByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfCinema/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>